body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header, .video-list {
  display: flex;
  justify-content: center;
}

a {
  font-size: 11px;
}

.loading-img {
  width: 200px;
}

.section-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-title h2, .info {
  margin: 10px;
}

.glitch {
  text-shadow: 5px 3px red, -1px -4px blue;
  cursor: pointer;

  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
}

.glitch:hover {
  text-shadow: 2px 1px red, -3px -2px blue;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
}

.video-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  min-width: 320px;
  max-width: 740px;
}

.video {
  width: 300px;
  height: 170px;
  margin: auto;
  margin-bottom: 20px;
}

.video:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.video-thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
  cursor: pointer;
}

.video-name {
  position: absolute;
  transform: translate(25px, -45px);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
  color: white;
  z-index: 100;
  margin: 0;
  cursor: pointer;
}

.short-videos, .long-videos {
  margin: 30px;
}

#screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
}

#screen h2, #now-playing {
  font-size: 18px;
}

#screen pre {
  font-family: monospace;
}

#now-playing {
  text-align: center;
}

.info {
  font-size: 16px;
  cursor: pointer;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text {
  font-size: 12px;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.heart {
  width: 80px;
  height: 80px;
}

.empty-section {
  width: 100%;
  text-align: center;
}

.error {
  background-color: red;
  width: 100%;
  text-align: center;
}
